/* _discussions.scss */

#shelter-discussions {
  position: relative;
  @include rem(top, 1rem);
  color: $shelter-dark-blue;
  @include rem(margin, 0 0 2.5rem 0);
  @include border-bottom-radius(0.1875rem);

  h3 {
    @include rem(margin, 0.75rem 0 0.25rem 0);
    @include rem(font-size, 0.85rem);
    color: darken($shelter-grey, 15%);
  }

  a {
    color: $shelter-dark-blue;
    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  .see-all {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    @include rem(font-size, 0.7rem);
    @include rem(margin, 0 0 0 0.9375rem);
    @include rem(text-indent, -0.9375rem);
    @extend .underlined-links;

    &:before {
      position: absolute;
      left: 0;
      top: -4px;
      content: '+';
      @include rem(font-size, 1.1rem);
    }
    &:hover,
    &:active {
      text-decoration: none;

      &:before {
        border-style: none;
      }
    }
  }
}

#discussions-items {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  @include rem(font-size,0.875rem);

  .discussions-item  {
    width: 100%;
    @include rem(margin, 0 0 10px 0);
    &:last-child {
      margin: 0;
    }
  }

  .replies {
    color: darken($shelter-dark-blue, 20%);
    float: left;
    width: 25%;
  }

  .information {
    float: left;
    width: 73%;
    margin: 0 0 0 2%;

    .topic {
      display: block;
      @include rem(padding, 0 0 0.2rem 0);
    }

    .date {
      @include rem(font-size, 0.8rem);
    }
  }
  .new {
    display: block;
    color: #f00;
  }
}

.page-node-discussions {

  .discussions-item {
    @include rem(margin-bottom, 0.25rem);
    @include rem(padding, 0.8rem);

    + .discussions-item {
      border-top: 1px solid $shelter-light-blue;
    }

    a {
      @extend .underlined-links;
      @include rem(font-size, 1rem);
      color: $shelter-dark-blue;
    }
  }
  .replies {
    color: darken($shelter-dark-blue, 20%);
    display: block;
    width: 100px;
    float: left;
  }
  .information {
    margin-left: 100px;
    color: $shelter-grey;
    @include rem(font-size, 0.8rem);
  }
  .date {
    @include rem(font-size, 0.8rem);
    color: $shelter-dark-blue;
    float: right;
    display: inline-block;

    a {
      font-size: inherit;
    }
  }
  .new {
    color: #f00;
    display: block;
    @include rem(font-size, 0.8rem);
  }
}

.node-type-discussion {
  article.node-discussion > .content > header {
    float: right;
    color: $shelter-grey;
    margin: 0 0 10px 10px;
    background: $shelter-light-blue;
    padding: 5px;

    svg {
      margin-left: 5px;
    }

    a {
      color: $shelter-grey;
      text-decoration: none;

      &:active, &:hover {
        color: $black;
        text-decoration: none;
      }
    }
  }
  #comment-body-add-more-wrapper {
    .form-textarea {
      @include rem(min-height, 14rem);
    }
    fieldset {
      display: none;
    }
  }
  #comments {
    margin-top: 50px;
  }
  .comment {
    .content {
      @include rem(min-height, 2rem);
    }
    .submitted {
      @include rem(font-size, 0.8rem);
    }
  }
  .comment_forbidden,
  .comment-add {
    display: block;
    background: #eee;
    @include rem(padding, 0.25rem 0.5rem);

    a {
      @extend .underlined-links;
      color: $shelter-dark-blue;
    }
  }
}
