.event-preview-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > * {
    width: 100%;
    @include breakpoint(850px) {
      width: calc(50% - 10px);
    }
    @include breakpoint(980px) {
      width: 100%;
    }
    @include breakpoint(1200px) {
      width: calc(50% - 10px);
    }
    @include breakpoint(1720px) {
      width: calc(33.33333% - 13.33333px);
    }
  }

  .upcoming-events & {
    display: block;
    .event-preview {
      width: 100%;

      margin: 0 auto 10px;
      &:last-child {
        margin-bottom:0;
      }

      &:after { //clearfix
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
    }
  }

  .event-preview {
    position: relative;
    color: $shelter-grey;
    margin: 0 0 20px 0;
    padding: 10px;
    border: 1px solid $shelter-light-blue;
    min-height: 170px;

    &.event-preview--past {
      color: lighten($shelter-grey, 30%);
      h4 {color: lighten($shelter-grey, 25%);}
      .group {color: lighten($shelter-grey, 30%);}
      .thumbnail img {opacity: .7;}
    }

    min-width: 350px;
    max-width: 500px;

    a {
      text-decoration: none;
    }

    h4 {
      @include rem(font-size, 1rem);
      color: $accent-dark-blue;
      text-transform: uppercase;
      font-weight: normal;
      margin: 0;

      line-height: 21px;
      max-height: 21px * 2;
      overflow: hidden;
    }

    .operation-icon {
      float: right;
      margin-left: 5px;
    }

    .thumbnail {
      float: right;
      margin-left: 10px;
      line-height: 0;

      img {
        max-width: 30vw;
        width: 150px;
        height: 150px;
      }
    }

    .group {
      color: $shelter-grey;
      display: block;
    }

    .group, .event-date {
      margin-top: 3px;
      @include rem(font-size, 0.75rem);
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .group {
      white-space: nowrap;
    }

    .event-location {
      margin-top: 7px;
      @include rem(font-size, 0.9rem);
      @include rem(line-height, 1.2rem);
      @include rem(max-height, 4 * 1.2rem);
      overflow: hidden;
    }

    .group ~ .event-location {
      @include rem(max-height, 3 * 1.2rem);
    }
  }
}
