.home-dashboard {
  text-align: center;

  .row-figures {
    margin: 2em 0;
    @include mobile {
      p {
        text-align: right;
        width: 50%;
        float: left;
        clear: left;
      }
      .big-figure {
        margin-left: 1em;
        float: left;
      }
    }
    @include tablet {
      display: flex;
      > * {
        flex: 1;
      }
    }
  }

  .row-pies {
    margin: 2em 0;

    @include tablet {
      > * {
        float: left;
        width: 50%;
      }
    }
  }

  .row-bars {
    margin: 2em 0;

    @include tablet {
      > * {
        float: left;
        width: 33%;
      }
    }

    .cluster-chart-wrapper {
      height: 350px;
    }
  }

  .footer {
    clear: both;
  }

  small {
    font-weight: normal;
    font-style: italic;
    color: $shelter-grey;
  }

  .header p {
    margin-top: -.5em;
    color: $shelter-grey;
  }

  h4 {
    font-weight: normal;
    margin-bottom: 1em;
  }

  .big-figure {
    display: block;
    @include rem(font-size, 2rem);
    margin-bottom: 1em;
  }
}
