.paragraphs-items {
  .content {
    min-height: initial;
  }

  .field-collection-container {
    border-bottom: none;
  }

  .paragraphs-item-images {
    .field-name-field-images .field-items {
      margin: -10px;
      > .field-item {
        display: inline-block;
        padding: 10px;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  .field-name-field-links .field-item {
    display: list-item;
    margin: 0 0 .5em 30px;
  }

  .entity-paragraphs-item table {
    min-width: 70%;

    thead th {
      background-color: $shelter-red;
      border-color: $shelter-red;
      color: $white;
    }
  }

  .field-name-field-publications {
    .field-name-field-publication-image {
      float: right;
      margin: 0 0 20px 20px;
    }
  }

  .field-name-field-short-publications > .field-items {
    display: flex;
    flex-wrap: wrap;

    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(230px, 1fr) );

    text-align: center;

    .field-collection-view {
      border-bottom: none;
    }
  }

  .field-name-field-team-members > .field-items {
    display: flex;
    flex-wrap: wrap;

    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(230px, 1fr) );

    .field-collection-view {
      border-bottom: none;

      .content {
        display: flex;
      }
    }

    .field-name-field-team-photo {
      img {
        border-radius: 50%;
        width: 90px;
        height: 90px;
        margin-right: 10px;
      }
    }
  }
}
