.node-type-photo-gallery {
  .field-collection-container {
    border: 0;
  }
}

.field-name-field-sections {
  .field-collection-view {
    margin: 0;
    border: 0;
  }
  .field-collection-container {
    border: 0;
  }
  .field-name-field-section-description {
    margin-bottom: 1em;
  }
  .content {
    min-height: 0;
    padding-bottom: 0;
  }
}

.field-name-field-photos {
  > .field-items {
    display: flex;
    flex-wrap: wrap;

    > .field-item {
      margin: 0 0 1px 1px !important;
      line-height: 0;

      * {
        display: inline-block;
        margin: 0;
        padding: 0;
        min-height: 0;
        border: 0;
        line-height: 0;

        &:before, &:after {
          display: none;
        }
      }
    }
  }
}
