/* _active_responses.scss */

#active-responses {
  @include rem(margin, 1.5rem 0 1.5rem 0);
  text-align: center;

  h1 {
    margin-top: 0;
  }

  ul {
    @include reset-list;
    @include rem(margin-bottom, 1rem);
  }

  #major-responses {
    width: 100%;
    text-align: center;

    li {
      display: inline-block;
      min-width: 65%;
    }
    a {
      display: block;
      float: left;
      text-align: center;
      text-decoration: none;
      color: $white;
      font-weight: bold;
      width: 80%;
      border: 1px solid $shelter-red;
      background-color: $shelter-red;
      @include transition(all 0.3s ease);
      @include rem(padding, 0.5rem 0.5rem);
      @include rem(margin, 0 0 0.75rem 0);
      @include box-shadow(rgba(0,0,0,0.09) 2px 2px 1px);
      &:hover,
      &:active {
        background-color: lighten($shelter-red, 10%);
        color: #fff;
      }
      @include breakpoint(800px) {
        width: 90%;
      }
    }
    div {
      float: left;
    }
    svg {
      position: relative;
      top: 2px;
      width: 34px;
      height: 34px;
    }
  }

  #legend {
    clear: both;
    @include rem(font-size, 0.75rem);
    display: inline-block;

    li {
      display: inline-block;
      @include rem(margin-right, 1rem);
    }
    svg {
      position: relative;
      width: 24px;
      height: 24px;
    }
    span {
      position: relative;
      top: -5px;
    }
    .man-made-disaster-icon {
      @include rem(margin-right, 0.25rem);
    }
  }
}

