/* _admin-content.scss */

#add-content,
#admin-links {

  background: $black;
  @include rem(padding, 0.5rem 0.85rem);
  @include rem(margin, 0 0 0.25rem 0);
  @include rem(font-size, 0.9rem);

  h3 {
    @include rem(font-size, 0.9rem);
  }

  a {
    @extend .underlined-links;
    color: rgb(255,255,255);
  }

  #add-content-container {
    color: white;

    > div {
      margin-top: 15px;

      + div {
        border-top: 1px solid darken($white, 70%);
        padding-top: 15px;
      }
    }
  }

  .editor-menu-individual {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fill, 77px);
    justify-content: space-evenly;

    svg {
      display: block;
      font-size: 20px;
      @include rem(margin, 0 auto 0.5rem);
    }

    li {
      margin: 0;
      text-align: center;
    }
  }

  .editor-menu-grouped {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    svg {
      display: block;
      font-size: 20px;
      position: absolute;
      left: -35px;
      top: 0;
    }

    > li {
      flex-grow: 1;
      position: relative;
      margin: 0 0 0 35px;
    }

    ul {
      list-style: none;
      padding: 0;
      li {
        margin-left: 0;
      }
    }
  }

  .collapsible,
  .collapsed {
    color: $white;
    border-bottom: none !important;
    padding: 0;
    margin: 0;

    &:hover {
      &:after {
        color: rgb(255,255,255);
      }
    }
  }

  .collapsible {
    border-bottom: 1px solid darken($white,70%) !important;
    @include rem(padding, 0 0 0.4rem 0);
  }
}

