/* _calendar.scss */
#shelter-calendar {
  @include rem(margin, 2.5rem 0 2rem 0);
  @include box-shadow(rgba(0,0,0,0.33) 0px 3px 10px);
  @include border-radius(5px);
}

#box-calendar {
  position: relative;
  width: 100%;
  background-color: #eee;
  color: #000;
  text-align: center;
  @include rem(margin, 0 0 0.5rem 0);
  @include border-radius(0.1875rem);

  a {
    color: #222;
    width: 100%;
    text-align: center;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }


  @include breakpoint(980px) {
    display: block;
    width: auto;
    height: auto;

    > div {
      display: block;
      vertical-align: initial;
    }
  }

  .information-card {
    @include rem(padding, 0.75rem);
    @include rem(line-height, 1.5rem);
    .event {
      font-weight: bold;
    }
    a {
      display: block;
      text-decoration: none;
      border: 1px solid darken($shelter-red, 1%);
      background: lighten($shelter-red, 2%);
      padding: 5px 0;
      margin-bottom: 5px;
    }
  }

}

#date-calendar {
  border-bottom: 1px dashed rgb(255,255,255);
  @include rem(text-indent, -2.25rem);
  @include rem(margin, 0 0.625rem 0 3.125rem);
  @include rem(padding, 0.5rem 0 0.5rem 0);
  sup {
    position: relative;
    vertical-align: top;
    @include rem(vertical-align, 0.10rem);
  }
}

#calendar-pin-icon {
  position: absolute;
  top: -35px;
  left: 15px;
  z-index: 10;
  fill: $shelter-red;
  width: 62px;
  height: 59px;
  @include rem(margin, 0.375rem 0px 0.375rem 0px);
  @include rem(padding, 0 0.3125rem 0.3125rem 0);
  @include border-radius(15px);
  @include box-sizing(initial);

  path {
    fill: #222;
  }
}

#calendar-event {
  color: #fff;
  @include rem(padding, 1rem);
  @include rem(line-height, 1.4rem);

  a {
    color: #fff;
  }
  .upcoming {
    @include rem(font-size, 0.9rem);
  }
  .event {
    display: block;
    @include rem(font-size, 1rem);
    @include rem(padding, 0.25rem 0 0 0);
  }
}

