/* _content.scss */

.main-column,
.side-column {
  h2 {
    margin-top: 0;
    border-bottom: 2px solid $shelter-grey;
    text-transform: uppercase;
    color: $shelter-grey;
    @include rem(font-size, 1rem);
    @include rem(padding, 0 0 0.2rem 0);
    @include rem(margin, 0 0 1.5rem 0);
    span  {
      position: relative;
      top: -7px;
      left: 10px;
    }
    svg {
      width: 50px;
    }
  }
  h3 {
    border-bottom: 1px dashed lighten($shelter-grey,30%);
    text-transform: uppercase;
    color: $shelter-grey;
    @include rem(padding, 0 0 0.4rem 0);
    @include rem(margin,0 0 0.6rem 0 );
    @include rem(font-size, 0.75rem);
  }
  @include rem(padding, 1rem 0 0 0);
}

#contextual-navigation {
  @include rem(font-size, 0.8rem);

  span {
    @include rem(margin-right, 0.25rem);
  }
  a {
    color: $shelter-red;
  }
}
