/* _discussions.scss */

#shelter-discussions {
  @include rem(margin, 0 0 2rem 0);

  .see-all {
    @include rem(font-size, 0.9rem);
  }
}

#discussions-items {
  @include reset-list;

  .discussions-item  {
    float: left;
    width: 100%;
    @include rem(margin, 0 0 10px 0);
  }

  .replies {
    float: left;
    width: 25%;
    @include rem(font-size,0.9rem);
  }

  .information {
    float: left;
    width: 73%;
    margin: 0 0 0 2%;

    .topic {
      display: block;
      @include rem(font-size, 0.95rem);
      @include rem(padding, 0 0 0.2rem 0);
    }

    .date {
      @include rem(font-size, 0.8rem);
    }
  }
  .new {
    display: block;
    color: red;
  }
}
