/* _discussions.scss */

#shelter-discussions {
  position: relative;
  @include rem(margin, 0 0 2rem 0);
  color: $shelter-dark-blue;
  @include border-bottom-radius(0.1875rem);

  svg {
    position: absolute;
    top: -22px;
    left: -24px;
    background: #fff;
    fill: $shelter-grey;
    width: 60px;
    @include rem(margin, 0.375rem 0px 0.375rem 0px);
    @include rem(padding, 0 0.375rem 0.375rem 0 );
    @include border-radius(15px);
    @include box-sizing(initial);
  }

  h3 {
    background-color: $shelter-dark-blue;
    color: rgb(255,255,255);
    text-align: center;
    border-bottom: none;
    margin: 0;
    @include border-top-radius(0.1875rem);
    @include rem(padding, 0.35rem);
  }

  .see-all {
    text-transform: uppercase;
    font-weight: bold;
    @include rem(font-size, 0.75rem);

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  a {
    color: $shelter-dark-blue;
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

#discussions-items {
  display: table;
  background-color: rgb(218,222,228);
  @include reset-list;
  @include rem(padding, 1rem 2rem 1rem 2rem);
  @include rem(margin, 0 0 0.5rem 0);

  .discussions-item  {
    float: left;
    width: 100%;
    @include rem(margin, 0 0 10px 0);
    &:last-child {
      margin: 0;
    }
  }

  .replies {
    float: left;
    width: 25%;
  }

  .information {
    float: left;
    width: 73%;
    margin: 0 0 0 2%;

    .topic {
      display: block;
      @include rem(padding, 0 0 0.2rem 0);
    }

    .date {
      @include rem(font-size, 0.8rem);
    }
  }
  .new {
    display: block;
    color: $shelter-red;
  }
}
