/* _document-card.scss */

#key-information {

}

.document-cards {
  @include reset-list;
  @include rem(margin,0 0 2rem 0);

  .document-card {
    float: left;
    width: 100%;
    margin: 0 2% 4% 0;
    background: lighten($shelter-light-blue,10%);
    color: lighten($shelter-dark-blue,10%);
    border: 1px solid $shelter-dark-blue;
    border: 1px solid lighten($shelter-grey,50%);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    @include border-radius(0.1875rem);
    @include box-shadow(rgba(0,0,0,0.09) 3px 3px 4px);
    @include rem(padding, 0.5rem 0 0 0);
    @include breakpoint(700px) {
      width: 49%;
    }

    &.even {
      margin-right: 0;
    }
    .image-card {
      float: left;
      width: 60px;
      padding: 0 10px 0 10px;

      svg {
        fill: lighten($shelter-grey,20%);
        width: 45px;
        height: 45px;
      }
    }
    .information-card {
      display: table; //to make the div height 100%
      @include rem(padding, 0 0.5rem 0 0.5rem);

      a {
        color: darken($shelter-grey,20%);
        &:hover,
        &:active {
          text-decoration: none;
        }
      }
      p {
        @include rem(margin, 0.5rem 0);
        @include rem(font-size, 0.85rem);
      }
    }
    .information-file {
      float: left;
      width: 100%;
      background-color: $shelter-dark-blue;
      color: rgb(255,255,255);
      @include rem(font-size, 0.9rem);
      @include rem(padding, 0.5rem);
      @include border-bottom-radius(0.15rem);

      .size-type {
        float: left;
      }
      .source {
        float: right;
      }
    }
  }
}


