.document-preview-list {
  display: flex;
  flex-wrap: wrap;

  .document-preview {
    position: relative;
    color: $shelter-grey;
    width: 400px;
    margin: 0 20px 20px 0;
    padding: 10px;
    border: 1px solid $shelter-light-blue;
    min-height: 150px;

    a {
      text-decoration: none;
    }

    h4 {
      color: $shelter-red;
      text-transform: uppercase;
      font-weight: normal;
      margin: 0;

      line-height: 21px;
      max-height: 21px * 3;
      overflow: hidden;
      //text-overflow: ellipsis;    // if only this worked for more than one line...
    }

    .thumbnail {
      float: left;
      width: 150px;
      height: 150px;
      margin-right: 10px;
    }

    .group {
      color: $shelter-grey;
      display: block;
    }

    .group, .document-date {
      margin-top: 3px;
      @include rem(font-size, 0.75rem);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .document-link a {
      background: url('../images/document-download.png') 0 0 no-repeat;
      display: inline-block;
      overflow: hidden;
      text-indent: 20px;
      width: 14px;
      height: 17px;
    }

    //.all-documents a {
    //  background: url('../images/plus-red.png') 0 50% no-repeat;
    //  padding-left: 12px;
    //  text-transform: uppercase;
    //}

    .file-info {
      @include rem(bottom, .5rem);
      @include rem(font-size, .75rem);
      display: flex;
      position: absolute;
      right: 10px;
      height: 15px;
    }

    .file-info .file-extension {
      background: #CCC;
      padding: 1px 3px;
    }

    .file-info > * + * {
      margin-left: 5px;
    }

    //.info {
    //  color: $shelter-grey;
    //  @include rem(font-size, 0.75rem);
    //
    //}
  }
}
