.document-table {
  margin-bottom: 1rem;

  thead th {
    border-bottom: 0;
    padding: .5rem;
  }

  thead th:last-child {
    text-align: left;
  }
}

.recent-documents {
  thead {
    background: $shelter-red url('../images/document-white.png') 1rem 50% no-repeat;
    color: white;
    margin: 0;
    text: {
      indent: 0;
      transform: uppercase;
    }
  }

  thead th {
    padding-left: 40px;
  }

  tr.document-row {
    background: white;
    border-bottom: 1px dotted #CCC;
  }

  .document-row a {
    color: $shelter-red;
  }

  .information-title {
    max-width: 420px;
    position: relative;
    word-wrap: break-word;
  }

  .information-title p {
    text-transform: none;
  }

  .document-title {
    @include rem(margin-bottom, .5rem);
    text-transform: uppercase;
  }

  .document-title a {
    text-decoration: none;
  }

  .document-description,
  .document-response,
  .document-source {
    margin-bottom: 5px;
  }

  .document-link,
  .document-link a {
    height: 17px;
  }
  
  .document-link a {
    background: url('../images/document-download.png') 0 0 no-repeat;
    display: inline-block;
    overflow: hidden;
    text-indent: 20px;
    width: 14px;
  }

  .is-small {
    @include rem(font-size, 0.85rem);
  }

  .all-documents a {
    background: url('../images/plus-red.png') 0 50% no-repeat;
    padding-left: 12px;
    text-transform: uppercase;
  }

  .file-info {
    @include rem(bottom, .5rem);
    display: flex;
    position: absolute;
    right: 0;
  }

  .file-info .file-extension {
    @include rem(font-size, .75rem);
    background: #CCC;
    padding: 1px 3px;
  }

  .file-info .document-link {
    margin-left: 10px;
  }
}
