/* _document-card.scss */

#key-information {

}

.document-cards {
  @include reset-list;
  @include rem(margin,0 0 2rem 0);

  .document-card {
    float: left;
    width: 100%;
    margin: 0 2% 2% 0;
    background: #eee;
    @include box-shadow(rgba(0,0,0,0.05) 3px 3px 4px);
    @include rem(padding, 0.625rem);
    @include breakpoint(700px) {
      width: 49%;
    }

    &.even {
      margin-right: 0;
    }

    .wrapper-card {
      display: table;
      height: 100%;
    }
      .image-card {
        display: table-cell;
        vertical-align: middle;

        svg {
          width: 55px;
          height: 55px;
        }
      }
      .information-card {
          display: table-cell;
          @include rem(padding, 0 0 0 0.625rem);
      }
  }
}


