.event-item {
  background: rgb(218,222,228);
  @include rem(margin-bottom, 0.25rem);
  @include rem(padding, 0.8rem);

  a {
    @extend .underlined-links;
    color: $shelter-dark-blue;
  }
}

.node-event {
  a {
    color: #031957;
  }
  .field-items {
    @include rem(margin-bottom, 1rem);
  }
  .field-label {
    text-transform: uppercase;
    color: #888;
    @include rem(font-size, 0.7rem);
  }
  .field-name-field-postal-address {
    background: #ddd;
    @include rem(padding, 0.75rem);
    @include rem(margin-bottom, 1rem);
    .field-items {
      margin: 0;
    }
  }
}

.addtocal,
.addtocal_menu {
  @extend .button;
}

ul.addtocal_menu {
  border: none;
  margin-left: 8px !important;
}

.ical {
  border: 1px solid #575757;
  color: #575757;
  padding: 3px;
  float: right;
  margin: 0 5px 0 0;
  font-size: 11px;
  display: inline-block;
    a {
      color: #575757;
    }
}

