.factsheet-preview-list {
  display: flex;
  flex-wrap: wrap;

  .recent-documents & {
    display: block;
    .document-preview {
      width: 100%;

      margin: 0 auto 10px;
      &:last-child {
        margin-bottom:0;
      }

      &:after { //clearfix
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
    }
  }

  .factsheet-preview {
    position: relative;
    color: $shelter-grey;
    width: 400px;
    margin: 0 20px 20px 0;
    padding: 10px;
    border: 1px solid $shelter-light-blue;
    min-height: 218px;

    .document-status {
      @include rem(font-size, 0.5rem);
      line-height: 1;
      font-weight: bold;
      text-transform: uppercase;
    }

    a {
      text-decoration: none;
    }

    h4 {
      @include rem(font-size, 1rem);
      color: $shelter-red;
      text-transform: uppercase;
      font-weight: normal;
      margin: 0;
      line-height: 21px;
      white-space: nowrap;
    }

    .operation-icon {
      float: right;
      margin-left: 5px;
    }

    .thumbnail {
      float: left;
      width: 150px;
      height: 150px;
      margin-right: 10px;
      position: relative;
      overflow: hidden;
      z-index: 1;

      > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      > img {
        transition: .2s all;
      }
      &:hover > img:last-of-type {
        opacity: 0;
        filter: brightness(2);
        transform: scale(1.02);
      }
    }

    .summary {
      @include rem(font-size, 0.75rem);
      position: relative;
      height: 125px;
      overflow: hidden;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20px;
        background: linear-gradient(0, rgba(white, 1), rgba(white, 0));
      }

      > :first-child {
        margin-top: 0;
      }
    }

    .indicators {
      clear: both;
      height: 46px;
      line-height: 18px;
      padding: 10px 0 0 0;
      margin: 0;

      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      overflow: hidden;

      @include rem(font-size, 0.75rem);
      text-align: center;

      li {
        margin: 0 8px;
      }

      strong {
        display: block;
        white-space: nowrap;
        @include rem(font-size, 1rem);
        color: $shelter-red;
        font-weight: normal;
      }
    }
  }
}
