/* _footer.scss */

footer {
  background: darken(rgb(235, 239, 243), 5%);
  color: $shelter-grey;
  @include rem(padding-bottom, 2rem);

  .inside-footer {
    background-color: $shelter-light-blue;
    @include rem(padding, 1.5625rem);
  }

  a {
    position: relative;
    color: $shelter-grey;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: none;
      &:after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 1px;
        border-width: 0 0 1px;
        border-style: solid;
      }
    }
  }

  .see-all {
    text-indent: -15px;
    margin: 0 0 0 15px;
    text-transform: uppercase;
    font-weight: bold;
    @include rem(font-size, 0.75rem);

    &:before {
      position: absolute;
      top: -4px;
      content: '+';
      @include rem(font-size, 1.1rem);
      @include rem(padding, 0 0.3125rem 0 0);
    }
    &:hover,
    &:active {
      text-decoration: none;
      &:before {
        border-style: none;
      }
    }
  }

  ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style-position: inside;
  }
  li {
    @include rem(padding, 0 0 0.25rem);
    @include rem(font-size, 0.85rem);
  }
  section {
    @include rem(margin-bottom, 2rem);
  }
  h3 {
    text-transform: uppercase;
    @include rem(font-size, 0.85rem);
    @include rem(margin, 0 0 1rem );
    a {
      text-decoration: none;
      position: relative;
      &:hover,
      &:active {
        text-decoration: none;
        &:after {
          border-style: none;
        }
      }
      &:after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 1px;
        border-width: 0 0 1px;
        border-style: solid;
      }
    }
  }

  #active-clusters-list {
    display: inline-block;
    vertical-align: top;
    @include breakpoint(900px) {
      width: 50%;
    }

    .complete-list {
      @include rem(padding, 0 0.5rem 0.5rem);
    }
  }

  #regions-list {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    @include breakpoint(900px) {
      width: 50%;
    }

    & > .menu > li > a{
      display: block;
      font-weight: bold;
      @include rem(margin-bottom, 0.25rem);
    }
    & > .menu > li {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      @include rem(margin-bottom, 1.25rem);
      @include breakpoint(500px) {
        width: 46%;
      }
    }
    .country {
      list-style: disc inside;
    }
  }

  #general-information {
    .links {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      padding: 0;
      @include breakpoint(700px) {
        width: 33%;
      }
    }
  }

  #partners-list {
    .partner {
      list-style: none;
      display: inline-block;
    }
  }

}
