/* _footer.scss */

footer {
  background: darken(rgb(235, 239, 243), 5%);
  color: $shelter-grey;
  @include rem(padding-bottom, 2rem);

  ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style-position: inside;

    li {
      position: relative;
      @include rem(margin,0 0 0.25em 1em);

      &:before {
        position: absolute;
        top: 7px;
        left: -11px;
        content: '';
        background: url(../images/footer-bullet.png) no-repeat 0 0 transparent;
        width: 6px;
        height: 6px;
      }
      @include rem(padding, 0 0 0.25rem 0);
      @include rem(font-size, 0.85rem);
      &.leaf {
        list-style-image: none;
        list-style-type: none;
      }
    }

  }

  .inside-footer {
    display: table;
    table-layout: fixed;
    background-color: $shelter-light-blue;
    @include rem(padding, 1.5625rem 1.5625rem 20px 1.5625rem);

    > section {
      display: table;
      width: 100%;
      @include rem(margin, 0 0 20px 0);
      // display: table-cell;
    }
  }

  a {
    color: $shelter-grey;
    @extend .underlined-links;
    white-space: nowrap;
  }

  .see-all {
    text-indent: -15px;
    margin: 0 0 0 15px;
    text-transform: uppercase;
    font-weight: bold;
    @include rem(font-size, 0.75rem);

    &:before {
      position: absolute;
      content: '+';
      @include rem(font-size, 1.1rem);
      @include rem(padding, 0 0.3125rem 0 0);
    }
    &:hover,
    &:active {
      text-decoration: none;
      &:before {
        border-style: none;
      }
    }
  }

  h3 {
    text-transform: uppercase;
    @include rem(font-size, 0.85rem);
    @include rem(margin, 0 0 0.5rem );
  }

  #active-clusters-list {


   .item-list ul li {
      @include rem(margin, 0 0 0.25rem 0.8125rem);
    }

    @include breakpoint(900px) {
      // width: 50%;
    }

    .complete-list {
      @include rem(padding, 0 0.5rem 0.5rem);
    }
  }

  #regions-list {
    @include breakpoint(900px) {
      // width: 50%;
    }
    .nav-items {
      display: table;

      li {
        &:before {
          left: 0;
          top: 9px;
        }
        .nav-items {
          li {
            @include rem(font-size, 0.75rem);
            @include rem(margin, 0 0.3125rem 0 0);
            &:before {
              content: '\2013';
              background: none;
              position: absolute;
              left: 0;
              top: 0;
              position: relative;
              @include rem(margin, 0 0.3125rem 0 0);
               a {
                text-transform: uppercase;

                }
              }
            }
            &:before {
                background: none;
            }
          }
        }
      }
    .menu li {
      list-style: none;
    }
    & > .menu > li > a{
      font-weight: bold;
      @include rem(margin, 0 0 0.25rem 0.625rem);
    }
    & > .menu > li {
      // display: table-cell;
      vertical-align: top;
      width: 100%;
      list-style: disc inside;
      .expanded {
        padding: 0 0 0 10px;
      }
      @include rem(margin-bottom, 1.25rem);
      @include breakpoint(500px) {
        width: 46%;
      }
    }
  }

  #general-information {
    .links {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      padding: 0;
      @include breakpoint(700px) {
        width: 33%;
      }
    }
  }

  #partners-list {
    .partner {
      list-style: none;
      display: inline-block;
    }
  }

}
