/* _header.scss */

header {

  ul {
    @include reset-list;
  }
  a {
    text-decoration: none;
  }
  #button-menu-dropdown {
    display: table;
    clear: both;
    background: rgb(0,0,0);
    @include rem(padding, 0.5rem);
    color: $btn-dropdown-shelter;
  }
  #profile-items {
    float: right;

    .profile-item {
      float: left;

      &:first-child:after {
        content: '/';
        @include rem(padding, 0 0.5rem 0 0.5rem);
      }
    }
  }
  #logo-shelter-cluster {
    .svg {
      height: 80px;
    }
    #title-shelter {
      color: $shelter-red;
    }
    #subtitle-shelter {
      color: $shelter-grey;
    }
  }
}
#bandwidth-selector-icon {
  height: 13px;
  width: 13px;
}
#bandwidth-selector {
  float: left;
  @include rem(padding, 0.5rem 0 0.5rem 0);

  a {
    &:first-child + a:before {
      content: '/';
      @include rem(padding, 0 0.5rem 0 0);
    }
  }
}

#language-selector {
  float: right;
  @include rem(padding, 0.5rem 0 0.5rem 0);

  .language {
    float: left;

    &:before {
      content: '/';
      @include rem(padding, 0 0.5rem 0 0.5rem);
    }
    &:first-child:before {
      content: '';
      padding: 0;
    }
  }
}

#nav-shelter {
  float: left;
  background-color: $shelter-grey;
  @include background-image(linear-gradient(darken($shelter-grey, 55%), darken($shelter-grey,33%) 40%, darken($shelter-grey, 2%)));
  color: $nav-shelter-links-color;
  @include rem(padding, 1rem 0.5rem 0.5rem);
}

#nav-items {
  .nav-item {
    float: left;

    a {
      float: left;
      @extend .button;
      @include rem(margin-bottom, 0.5rem);
    }
    .total {
      @include rem(font-size, 0.75rem);
    }
    .total-ended {
      float: right;
      @include rem(font-size, 0.75rem);
    }
  }
}



