/* _header.scss */

header {

  ul {
    @include reset-list;
  }
  a {
    text-decoration: none;
  }

  #site-options-bar {
    background: $shelter-dark-blue;
    @include rem( font-size, 0.8rem );
    margin-bottom: 0.5em;
    color: darken($shelter-dark-blue, 10%);

    a {
      color: darken($shelter-dark-blue, 30%);
      text-decoration: underline;
    }
    .active {
      color : #000;
      text-decoration: none;
    }
    .svg {
      fill: darken($shelter-dark-blue, 50%);
    }
  }
  #button-menu-dropdown {
    display: table;
    clear: both;
    background: rgb(0,0,0);
    @include rem(padding, 0.5rem);
    color: $btn-dropdown-shelter;
  }
  #profile-items {
    float: right;

    .profile-item {
      float: left;

      &:first-child:after {
        content: '/';
        @include rem(padding, 0 0.5rem 0 0.5rem);
      }
    }
  }
  #logo-shelter-cluster {
    .svg {
      height: 80px;
    }
    #title-shelter {
      color: $shelter-red;
    }
    #subtitle-shelter {
      color: $shelter-grey;
    }
  }
}

#bandwidth-selector-icon {
  height: 13px;
  width: 13px;
}
#bandwidth-selector {
  float: left;
  @include rem(padding, 0.25rem 0 0.25rem 0);
}

#language-selector {
  float: right;
  @include rem(padding, 0.25rem 0 0.25rem 0);

  .language {
    float: left;

    &:before {
      content: '/';
      @include rem(padding, 0 0.5rem 0 0.5rem);
    }
    &:first-child:before {
      content: '';
      padding: 0;
    }
  }
}

#nav-shelter {
  float: left;
  background-color: white;
  //@include background-image(linear-gradient(darken($shelter-grey, 55%), darken($shelter-grey,33%) 40%, darken($shelter-grey, 2%)));
  color: $nav-shelter-links-color;
  @include rem(padding, 1rem 0.5rem 0.5rem 0);
}

#nav-items {
  .sub-nav {
    display: block;
    @include breakpoint( 500px ) {
      display: none;
    }
  }
  .nav-item {
    float: left;

    a {
      float: left;
      @extend .button;
      @include rem(margin, 0 0.5rem 0.5rem 0);
    }
    .total {
      @include rem(font-size, 0.75rem);
    }
    .total-ended {
      float: right;
      @include rem(font-size, 0.75rem);
    }
  }
}



