.front {
  .page-margin {
    margin-bottom: 20px;
  }
  .video {
    width: 100%;
    display: inline-block;
    vertical-align: top;

    @include breakpoint(800px) {
      width: 60%;
    }
  }
  #active-responses{
    width: 100%;
    display: inline-block;
    vertical-align: center;

    @include breakpoint(800px) {
      width: 39%;
    }
  }
}
