/* _operation.scss */
#operation-title {
   @include rem(padding, 0.5rem 0 0 0);

  h1 {
    @include rem(margin, 0 0 0 0);
  }
}
#operation-information {
  clear: both;
  @include rem(margin, 0 0 2rem 0);
  position: relative;
  @include rem(top, -1rem);

  .operation-image {
    float: left;
    @include rem(margin, 0 1rem 1rem 0);
  }
}

#operation-group {
  display: table;
  width: 100%;
  background-color: rgb(204,204,204);
  @include rem(padding, 1.25rem);
  @include rem(margin, 0 0 2rem 0);

  h3 {
    display: table-row;
    margin: 0;
  }

  #checkboxgroup {
    display: table-cell;
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;

    label{
      @include rem(margin, 0.5rem 0 0 0);
      @include rem(font-size, 0.9rem);
      font-weight: normal;
    }
  }

  #button-join-group {
    display: table-cell;
    vertical-align: bottom;
    text-align: right;

    a {
      text-decoration: none;
    }
  }
}

#featured-documents {
  position: relative;
  color: #fff;
  overflow: hidden;
  @include rem(margin-bottom, 2rem);

  ul {
    @include rem(height, 350px);
    @include reset-list;
  }
  li {
    display: inline;

    .document-information {
      @include absolute(bottom 0 left 0);
      background-color: #000;
      @include opacity(0.8);
      @include rem(padding, 1rem);

      h2 {
        margin: 0;
      }
      p {
        @include rem(margin-bottom, 0 );
      }
    }
    img {
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(scale(1) translateY(-50%) translateX(-50%));
    }
  }
}

