/* _operation.scss */

#operation-information {
  clear: both;
  @include rem('margin', 0 0 2rem 0);

}

#operation-group {
  display: table;
  width: 95%;
  background-color: rgb(204,204,204);
  @include rem('padding', 1.25rem);
  @include rem('margin', 0 0 2rem 0);

  h2 {
    display: table-row;
    margin: 0;
  }

  #checkboxgroup {
    display: table-cell;
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;

    label{
      @include rem('margin', 0.5rem 0 0 0);
    }
  }

  #button-join-group {
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
  }
}
