/* _operation-data.scss */

#operation-data {
  background-color: $shelter-light-blue;
  color: $shelter-grey;
  @include rem(padding, 1rem 0.8rem);
  @include rem(font-size, 0.85rem);

  ul {
    @include reset-list;
  }
  li {
    @include rem(padding, 0 0 0.5rem 0);
    @include rem(font-size, 0.8rem);
  }
  span {
    text-transform: uppercase;
    @include rem(padding-right, 0.5rem);
  }
  h4 {
    border: none;
    text-transform: none;
    color: $shelter-grey;
    font-weight: normal;
    @include rem(margin, 0 0 0.625rem 0);
    @include rem(font-size, 0.85rem);
  }
}

