.page-regions-countries {

  #map {
    position: relative
  }

  #regions-overlay {
    position: absolute;
    @include rem(top, 3rem);
    @include rem(padding, 1rem 3rem 1rem 0);
    left: 10%;

    .background {
      background: rgba(0,0,0,0.65);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .menu {
      position: relative;
      z-index: 50;
    }
    a {
      color: #fff;
    }
  }

  #map-canvas {
    width: 100%;
    height: 650px;
    @include rem(margin, 1rem 0 5rem 0);
  }

  footer {
    background-color: $shelter-grey;
  }
}