/* _secondary-nav.scss */

#secondary-nav {
  @include rem(margin, 0 0 0.25rem 0);

  .page-margin {
    border-top: 1px solid darken(white, 7%);
    padding-top: 0.5em;
    border-bottom: 1px solid darken(white, 7%);
  }
  .nav-items {
    .sub-nav {
      display: block;
      @include breakpoint( 500px ) {
        display: none;
      }
    }
    .nav-item {
      float: left;

      a {
        float: left;
        @extend .button;
        @include rem(margin, 0 0.5rem 0.5rem 0);
        @include rem(font-size, 0.8rem);
      }
      .total {
        @include rem(font-size, 0.75rem);
      }
      .total-ended {
        float: right;
        @include rem(font-size, 0.75rem);
      }
    }
  }
}
