/* _secondary-nav.scss */

#secondary-nav {
  @include rem(margin, 0 0 0.25rem 0);
  @include rem(padding, 1.25rem 0 0.5rem 0);
  border-top: 1px solid darken(white, 7%);
  border-bottom: 1px solid darken(white, 7%);
  background: $shelter-light-blue;

  ul {
    @include reset-list;
  }
  a {
    text-decoration: none;
  }
  .svg {
    fill: darken(white, 20%);
    width: 13px;
    height: 13px;
    position: relative;
    top: 2px;
    left: -2px;
  }
  .hide-this {
    display: none;
  }
  .collapse-menu {
    clear: both;
    position: relative;
    top: -5px;
    left: 4px;
    color: darken($shelter-grey,20%);
    @include rem(font-size, 0.70rem);
    .svg {
      fill: darken($shelter-grey,20%);
      width: 8px;
      height: 8px;
    }
  }
  .nav-group {
    clear: both;
    border-top: 1px solid darken($shelter-light-blue, 7%);

    h3 {
      @include rem(font-size, 0.8rem);
      @include rem(margin, 0.25rem 0);
      color: darken($shelter-light-blue, 27%);
    }
  }
  .nav-items {

    .sub-nav {
      display: block;
      @include breakpoint( 500px ) {
        display: none;
      }
    }
    .nav-item {
      float: left;
      min-width: 50%;
      @include breakpoint(440px) {
        min-width: 20%;
      }

      a {
        width: 98%;
        $button-color: lighten($shelter-grey, 15%);
        float: left;
        background: $button-color;
        @include background-image(linear-gradient(lighten($button-color, 3%), lighten($button-color,4%) 10%, $button-color));
        background-repeat: no-repeat;
        color: black;
        margin: 0 0 0 0.3rem;
        @include rem(padding, 0.5rem 1.25rem 0.5rem);
        @include border-radius(3px);
        border: 1px solid darken($button-color,9%);
        @include rem(margin, 0 0.125rem 0.25rem 0.125rem);
        @include rem(font-size, 0.8rem);

        &:hover {
          @include background-image(linear-gradient(lighten($button-color, 7%), lighten($button-color,8%) 60%, lighten($button-color, 5%)));
        }
        &.active {
          $button-color: lighten($shelter-red, 1%);
          color: $accent-yellow;
          border-color: $shelter-red;
          font-weight: bold;
          @include background-image(linear-gradient(lighten($button-color, 3%), lighten($button-color,4%) 10%, $button-color));
        }
      }
      .total {
        color: darken($shelter-grey,10%);
        @include rem(font-size, 0.7rem);
      }
      .total-ended {
        float: right;
        @include rem(font-size, 0.75rem);
      }
    }
  }
}
