/* _vars.scss */

// Fonts
$body-font-size: 16px;

//Shelter brand guidelines colors
$shelter-red:  rgb(127,20,22);
$shelter-grey: rgb(87,87,87);
$shelter-light-blue: rgb(205,214,219);
$shelter-dark-blue: rgb(104,131,148);

//Shelter chart guidelines colors
$chart-yellow: rgb(255,177,0);
$chart-green: rgb(101,182,48);
$chart-red: rgb(252,0,0);
$chart-blue: rgb(22,135,203);
$chart-dark-blue: rgb(4,49,76);

$master-background: white;
