/* _vars.scss */

// Fonts
$body-font-size: 16;

$black: rgb(0,0,0);
$white: rgb(255,255,255);

//Shelter brand guidelines colors
$shelter-red: rgb(127,20,22); //#7F1416
$shelter-grey: rgb(87,87,87); //#575757
$shelter-light-blue: rgb(205,214,219); //#CDD6DB
$shelter-dark-blue: rgb(104,131,148); //#688394

//Shelter chart guidelines colors
$accent-yellow: rgba(255,177,0,1); //#FFB100
$accent-green: rgb(101,182,48); //#65B630
$accent-red: rgb(252,0,0); //#FC0000
$accent-blue: rgb(22,135,203); //#1687CB
$accent-dark-blue: rgb(4,49,76); //#04314C


