/* _vars.scss */
/* _mixin.scss */
@page {
  margin: .7cm 1.5cm 1.5cm;
}
html, body {
  font-family: sans-serif;
  font-size: 11px;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  border-bottom: 2px solid #575757;
  text-transform: uppercase;
  color: #575757;
  font-size: 16px;
  font-size: 1rem;
  padding: 0 0 3.2px 0;
  padding: 0 0 0.2rem 0;
  margin: 0 0 24px 0;
  margin: 0 0 1.5rem 0;
}
h2 span {
  position: relative;
  top: -7px;
  left: 10px;
}
h2 svg {
  width: 50px;
}

h3 {
  border-bottom: 2px solid #717171;
  text-transform: uppercase;
  color: #575757;
  padding: 0 0 6.4px 0;
  padding: 0 0 0.4rem 0;
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0;
  font-size: 16px;
  font-size: 1rem;
}
h3 svg {
  height: 21px;
  float: left;
  margin: 0 4px 0 0;
  margin: 0 0.25rem 0 0;
}
h3 svg circle,
h3 svg path {
  fill: #3e3e3e;
}
h3 img {
  float: left;
  height: 21px;
}
h3 #overview-icon {
  width: 22px;
}
h3 #key-information-icon {
  width: 38px;
}

h4 {
  margin: 0 0 8px 0;
  margin: 0 0 0.5rem 0;
}

.node--factsheet {
  width: 100%;
}
.node--factsheet .area-header {
  color: #7f1416;
  font-weight: bold;
  font-size: 5rem;
}
.node--factsheet .area-header .area-logo {
  width: 30%;
}
.node--factsheet .area-header .area-logo img {
  width: 100%;
}
.node--factsheet .area-header .area-group {
  width: 50%;
  text-align: center;
}
.node--factsheet .area-header .area-date {
  width: 20%;
  text-align: right;
  white-space: nowrap;
}
.node--factsheet .area-subheader {
  clear: both;
  margin-bottom: 1cm;
}
.node--factsheet .area-subheader .separator {
  width: 1cm;
}
.node--factsheet .area-subheader .area-photo {
  width: 70%;
  background-size: cover;
  background-position: center;
  font-size: 250%;
  text-align: right;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.75);
  padding: .5cm;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.node--factsheet .area-subheader .area-map {
  width: 30%;
}
.node--factsheet .area-subheader .area-map img {
  width: 100%;
  height: auto;
}
.node--factsheet.has-sidebar .area-highlights {
  float: left;
  width: 56.5%;
}
.node--factsheet.has-sidebar .area-details {
  width: 60.5%;
}
.node--factsheet .area-highlights {
  border: 3px solid #7f1416;
  padding: 10px;
  border-radius: 4px;
}
.node--factsheet .area-highlights h3 {
  background-color: #7f1416;
  border: none;
  color: white;
  margin: -11px -11px 1rem;
  padding: 5px 10px;
}
.node--factsheet .area-highlights h3 svg {
  display: none;
}
.node--factsheet .area-details h3 {
  margin: 16px 0 16px;
  margin: 1rem 0 1rem;
}
.node--factsheet .area-details ul {
  margin: 0 0 0.75em 0;
  padding: 0;
}
.node--factsheet .area-details ul li {
  margin: 0 0 0.25em 1.5em;
}
.node--factsheet .area-details img {
  max-width: 100%;
}
.node--factsheet .area-aside {
  font-size: 10px;
  float: right;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #e8e8e8;
  padding: 0 10px;
  border-radius: 4px;
}
.node--factsheet .area-aside > * {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
.node--factsheet .area-aside h3 {
  margin: 11.2px -10px 16px;
  margin: 0.7rem -0.625rem 1rem;
  padding: 0 10px 6.4px;
  padding: 0 0.625rem 0.4rem;
}
.node--factsheet .area-aside ul {
  margin: 0 0 0.75em 0;
  padding: 0;
}
.node--factsheet .area-aside ul li {
  margin: 0 0 0.25em 1.5em;
}

.factsheet-chart-indicators h4 {
  color: #575757;
  margin-top: 20px;
}
.factsheet-chart-indicators h4:first-child {
  margin-top: 0;
}
.factsheet-chart-indicators img {
  max-width: 100%;
}
.factsheet-chart-indicators .chart--small-image {
  text-align: center;
  font-size: 220%;
}
.factsheet-chart-indicators .chart--small-image tbody {
  border: none;
}
.factsheet-chart-indicators .chart--small-image em {
  color: #575757;
}
.factsheet-chart-indicators .chart--small-image p {
  padding-bottom: 20px;
}
.factsheet-chart-indicators label {
  font-weight: normal;
  text-align: center;
  color: #575757;
  font-size: 13.6px;
  font-size: 0.85rem;
}
.factsheet-chart-indicators label ~ label {
  margin-top: 10px;
}
.factsheet-chart-indicators strong {
  display: block;
  text-align: center;
  white-space: nowrap;
  font-weight: normal;
  font-size: 32px;
  font-size: 2rem;
}
.factsheet-chart-indicators div {
  text-align: center;
}
.factsheet-chart-indicators .indicator-funding {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.factsheet-chart-indicators .indicator-funding > * {
  width: 50%;
}

.cluster-chart-wrapper.fs_cat_chart {
  min-height: 200px;
}
